@page
@model Library.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
   
}

<style>

</style>
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Về chúng tôi</h2>
                <p>Tại [Tên website của bạn], chúng tôi tin rằng sức khỏe và hạnh phúc bắt nguồn từ chế độ ăn uống lành mạnh. Chúng tôi cung cấp các món ăn healthy được chế biến từ nguyên liệu tươi ngon, đảm bảo an toàn và đầy đủ dinh dưỡng.</p>

                <p>Mục tiêu của chúng tôi là mang đến cho bạn những lựa chọn thực phẩm tốt nhất để bạn có thể đạt được mục tiêu sức khỏe của mình. Chúng tôi cam kết:</p>
                <ul>
                    <li>Sử dụng nguyên liệu tươi ngon, 100% tự nhiên.</li>
                    <li>Chế biến món ăn theo phương pháp khoa học, giữ nguyên hương vị và dưỡng chất.</li>
                    <li>Cung cấp đa dạng các món ăn phù hợp với sở thích và nhu cầu của bạn.</li>
                    <li>Giá cả hợp lý, cạnh tranh.</li>
                    <li>Dịch vụ khách hàng chu đáo, tận tâm.</li>
                </ul>

                <p>Hãy đến với [Tên website của bạn] để trải nghiệm những món ăn healthy tuyệt vời và nâng tầm sức khỏe của bạn!</p>
            </div>
            <div class="col-md-6">
                @* <img src="[Ảnh giới thiệu website]" alt="[Tên website của bạn]"> *@

                <div class="contact-info">
                    <h3>Liên hệ</h3>
                    <p><strong>Địa chỉ:</strong> Hòa Lạc, Hà Nội</p>
                    <p><strong>Điện thoại:</strong> 0779255842</p>
                    <p><strong>Email:</strong> fityourfood@gmail.com</p>
                    <p><strong>Website:</strong> https://www.website.com/</p>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" target="_blank" href="https://www.facebook.com/profile.php?id=61556708402571"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>