<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Food Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
    <header>

        <div class="container-fluid" style="margin-bottom:10px;">
            <div class="container topbar bg-primary d-none d-lg-block" style="padding:10px;">
                <div class="d-flex justify-content-between">
                    <div class="top-info ps-3">
                        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">Hòa lạc, Hà Nội</a></small>
                        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">fityourfood@gmail.com</a></small>
                    </div>
                    <div class="top-link pe-3">
                        <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
                        <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
                        <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <nav class="navbar navbar-light bg-white navbar-expand-xl">
                    <a asp-page="/Index" class="navbar-brand"><img class="" style="height: 100px;width:100px;" src="/img/logo.jpg" /></a>
                    <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav mx-auto">
                            <a asp-page="/Index" class="nav-item nav-link active">Trang chủ</a>
                            <a asp-page="/Book/Search" class="nav-item nav-link">Cửa hàng</a>
                             @* <a href="blog" class="nav-item nav-link">Bài viết</a> *@

                            <a asp-page="/Contact" class="nav-item nav-link">Liên hệ</a>
                        </div>
                        <div class="d-flex m-3 me-0">


                            @* <a href="#" class="my-auto"> *@
                            @* <i class="fas fa-user fa-2x"> *@
                            @if (Context.Session.GetString("username") == null)
                            {
                                <a asp-page="/Login"  class="position-relative me-4 my-auto">
                                    <i class="fa fa-shopping-bag fa-2x"></i>
                                    <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">0</span>
                                </a>
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Chưa đăng nhập</button>
                            }
                            else
                            {
                                <a asp-page="/Cart" class="position-relative me-4 my-auto">
                                    <i class="fa fa-shopping-bag fa-2x"></i>
                                    <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">@Context.Session.GetInt32("cartcount")</span>
                                </a>
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Xin chào @Context.Session.GetString("username")</button>
                            }
                            <div class="dropdown-menu dropdown-menu-right">
                                @if (Context.Session.GetString("username") != null)
                                {

                                    <a asp-page="Profile" class="dropdown-item">Hồ sơ người dùng</a>
                                    <a asp-page="Cart" class="dropdown-item">Giỏ hàng của tôi</a>
                                    <a asp-page="Order" class="dropdown-item">Lịch sử giao dịch</a>
                                    <a asp-page="RealTimeChat" class="dropdown-item">Sử dụng AI</a>
                                    @if (Context.Session.GetString("role").Equals("admin"))
                                    {
                                        <a asp-page="/Admin/Dashboard" class="dropdown-item">Admin Page</a>
                                    }
                                }
                                else
                                {
                                    <button class="dropdown-item" type="button" onclick="window.location.href='Login'">Đăng nhập</button>
                                }



                                @if (Context.Session.GetString("username") != null)
                                {
                                    <button class="dropdown-item" type="button" onclick="window.location.href='logout'">Đăng xuất</button>
                                }

                                @* </i> *@
                                @* </a> *@
                            </div>
                        </div>
                </nav>
            </div>
        </div>

    </header>

    @RenderBody()

    <footer class="">
        <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-12 mb-5 pr-3 pr-xl-5">
                        </div>
                        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                            <h5 class="text-secondary text-uppercase mb-4">Liên lạc với chúng tôi</h5>
                            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Hòa Lạc, Hà Nội</p>
                            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>fityourfood@gmail.com</p>
                            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0779255842</p>
                        </div>


                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">Theo dõi chúng tôi tại</h5>
                            <div class="d-flex">
                                @* <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a> *@
                                <a class="btn btn-primary btn-square mr-2" target="_blank" href="https://www.facebook.com/profile.php?id=61556708402571"><i class="fab fa-facebook-f"></i></a>
                                @* <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a> *@
                                <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-secondary">
                        <a class="text-primary" href="#"></a>All Rights Reserved.
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="img/payments.png" alt="">
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/popper.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>